/* src/App.css */

/* App container */
.App {
  text-align: center;
}

/* Header */
.App-header {
  background-color: #444444;
  color: #fff;
  height: 50px; /* Adjust the height as needed */
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Header text */
.App-header h1 {
  font-size: 50px;
  margin: 0;
}
